body {
    font-family: 'Montserrat';
    min-width: 1200px;
}

.div-top {
    background: url("../imgs/sections_background/section-1-header.jpg") no-repeat fixed;
    min-height: 100vh;
    background-size: cover;
}

.max-width{
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    background: rgba(94, 93, 88, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 79px 0 79px;
    text-transform: uppercase;
    height: 80px;
}

.green-hover {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.green-hover:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transition: 1s;
}

.header-right {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.header-right:before {
    content: "";
    background-image: url("../imgs/header/logo.png");
    width: 198px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    margin-right: 400px;
}

.header-right:after {
    content: url("../imgs/header/search_icon.svg");
    padding-left: 10px;
}

.the-ham-is, .we-are-creative,
.green-button, .blue-button {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.the-ham-is, .we-are-creative, .just-buy {
    text-align: center;
}

.the-ham-is {
    font-size: 35px;
    margin: 150px 0 22px 0;
}

.green {
    color: #18CFAB;
}

.we-are-creative {
    font-size: 78px;
}

.just-buy {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin: 22px 0 129px 0;
}

.btns-section1 {
    display: flex;
    justify-content: center;
}

.green-button, .blue-button {
    background-color: #18CFAB;
    text-decoration: none;
    display: block;
    font-size: 15px;
    width: 180px;
    height: 15px;
    padding: 16px 0;
    text-align: center;
    border-radius: 4px;
    border-top: 5px solid #fff;
}

.blue-button {
    background-color: #00CBF6;
    margin-left: 26px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.grid-el:nth-child(2n) {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.grid-el:nth-child(2n+1){
    background-color: #1C2A33;
    color: #18CFAB;
}

.grid-el{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-el:nth-child(2n) img {
    padding-bottom: 58px;
}

.grid-el:nth-child(2n+1) img {
    padding-bottom: 35px;
}

.section-white-title {
    padding-top: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}

.section-white-title::before {
    content: "";
    display: block;
    box-sizing: border-box;
    background-color: #18CFAB;
    width: 76px;
    height: 1px;
    position: absolute;
    top: 142px;
    left: 47%;
}

.section-white-title::after {
    content: "";
    display: block;
    box-sizing: border-box;
    background-color: #18CFAB;
    width: 76px;
    height: 1px;
    position: absolute;
    top: 150px;
    left: 50%;
}

.services {
    margin: 60px auto 60px auto;
    width: 100%;
}

.green-menu, .white-menu {
    background-color: #18CFAB;
    width: 180px;
    height: 72px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    line-height: 76px;
    display: inline-block;
    cursor: pointer;
}

.green-menu::after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #18CFAB;
    position: absolute;
    top: 72px;
    left: 40%;
}

.white-menu {
    cursor: pointer;
    background: #F8FCFE;
    color: #717171;
    border: 1px solid #EDEFEF;
}

.white-menu:hover {
    border-color: #18CFAB;
    transition: 0.5s;
}

.services img {
    float: left;
    margin-right: 15px;
}

.services-info {
    display: table;
}

.content{
    margin-top: 40px;
}

.services-info .content img {
    width: 192px;
    height: 139px;
}


.services-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.install-now {
    background: linear-gradient(rgba(12, 10, 8, 0.85), rgba(12, 10, 8, 0.85)), url("../imgs/sections_background/section-2.jpg") no-repeat fixed;
    background-size: cover;
    height: 476px;
    width: 100%;
    position: relative;
    font-family: 'Montserrat';
    text-align: center;
}

.install-now > h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding: 126px 0 12px;
}

.install-now > span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
    margin: 0 auto 62px;
    line-height: 40px;
}

.background-lite {
    background: #E9EDEF;
}

.our-amazing-work {
    margin: 60px auto 71px auto;
    width: fit-content;
}

.our-amazing-work .white-menu{
    width: fit-content;
    height: 62px;
    line-height: 62px;
    padding: 0 15px;
}

.our-amazing-work .white-menu:hover {
    color: #18CFAB;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto 71px auto;
    width: 100%;
}

.grid-menu li {
    position: relative;
}

.grid-menu > li > img{
    width: 100%;
    height: 100%;
}

.display-none{
    display: none;
}

.creative-design {
    display: none;
}

.li-type {
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;
}

.grid-menu li:hover .creative-design{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top: 6px solid #18CFAB;
    background-color: #ffffff;
    text-align: center;
}

.circle {
    padding: 11px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    padding: 15px;
    border: 1px solid #18CFAB;
}

.circle:first-child{
    padding: 13px;
}

.flex-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 0 25px 0;
}

.circle:hover {
    background-color:#18CFAB;
}

.square{
    width: 11px;
	height: 11px;
	background-color: #18CFAB;
}

.circle:first-child .icon1{
    fill: #18CFAB;
}

.circle:first-child:hover .icon1{
    fill: #ffffff;
}

.circle:nth-child(2):hover .square{
    background-color:#ffffff;
}

.creative-design .text-name{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.btn-grid-menu {
    display: flex;
    margin: 70px 0 99px 0;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
}

.green-btn {
    background-color: #18CFAB;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 168px;
    height: 48px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 99px;
}

.green-btn span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 42px;
}

.green-btn img{
    width: 18px;
    height: 19px;
}

.breaking-news-margin {
    margin: 70px auto 130px auto;
    gap: 35px;
}

.breaking-news {
    display: block;
    height: fit-content;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-decoration: none;
}

.breaking-news img {
    width: 100%;
    height: fit-content;
}

.breaking-news-date{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.breaking-news-span, 
.breaking-news-big-span {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 10%;
}

.breaking-news-big-span {
    display: block;
    font-weight: 700;
    font-size: 18px;
}

.breaking-news-span:last-child{
    padding: 0;
}

.breaking-news-span:last-child::before {
    content: "|";
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.breaking-news:hover .breaking-news-date{
    background-color: #18CFAB;
    transition: 0.7s;
}

.breaking-news:hover .breaking-news-span, 
.breaking-news:hover .breaking-news-big-span,
.breaking-news:hover .breaking-news-span:last-child::before{
    color: #18CFAB;
    transition: 0.7s;
}

.background-mountain {
    background-image: url("../imgs/sections_background/section-3.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    padding-bottom: 104px;
}

.brakets {
    display: block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 200px;
    color: #18CFAB;
    margin: 99px 0 36px 0;
}

h1.section-white-title {
    color: #ffffff;
}

.background-mountain-span{
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin: 38px auto;
}

.text-name, .text-job {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

.text-job {
    color: #BBBBBB;
    margin-bottom: 38px;
}

.text-name {
    text-transform: uppercase;
    font-weight: 700;
    font-weight: bold;
    color: #18CFAB;
}

.show-slider {
    display: block;
    margin: 10px;
}

.green-circle {
    width: 166px;
    height: 166px;
    border-radius: 50%;
    background: rgba(31, 218, 181, 0.2);
    padding: 12px;
    box-sizing: border-box;
    margin: 0 auto;
    animation: greenCircleAnimation 2s infinite;
}

.green-circle img { 
    width: 143px;
    height: 143px;
    border-radius: 50%;
}

.container {
    width: 50%;
    height: 210px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.left {
    left: -25%;
}

.right {
    right: -25%;
    border-radius: 3px 0 0 3px;
}
    
.left:hover, .right:hover {
    background-color: #18CFAB;;
}

footer {
    height: 121px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22353F;
    color: #AEAEAE;
}

.grid-masonry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto 71px auto;
    width: 100%;
}
